body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height */
}

.mySlides {
    display: none; /* Hide slides by default */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
}

.indexContent{
    align-items: center;
    width: 70%;
}

.indexContent h2 {
    font-size: 2.5rem;
}